:root {
  --vp-c-brand-1: #7ccf00;
  --vp-c-brand-2: #5ea500;
  --vp-c-brand-3: #497d00;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #7ccf00 15%, #497d00);
}

.dark {
  --vp-c-border: #3c3f44;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #2e2e32;
}
