:root {
  --vp-c-brand-1: #51a2ff;
  --vp-c-brand-2: #2b7fff;
  --vp-c-brand-3: #155dfc;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #51a2ff 15%, #155dfc);
}

.dark {
  --vp-c-border: #3c3f44;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #2e2e32;
}
